/*Limpando formatações padrão*/
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #000;
}

#video-player {
  border-radius: 5px;
}

/************************************
************Classes*****************/
.box-video {
  margin: 10% auto;
  align-items: center;
  width: 1080px;
  height: 607px;
  /*border: 2px #000 solid;*/
}
